@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html, * {
  font-family: 'Minecraft', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

